@mixin position($x: 50%, $y: 50%) {
    position: absolute;
    left: $x;
    top: $y;
    transform: translate(-$x, -$y);
}

@mixin h2-grid {
    // grid-area: 1 / 1 / 2 / -1;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #39302F;
    font-size: 35px;
    padding-top: 50px;
}

@mixin btn-pilule {
    border-radius: 9999px;
    outline: 0;
    border: 0;
    background-color: #C5635D;
    border: 1px solid #f1f1f1;
    color: #f1f1f1;
    padding: 20px 35px;
    font-size: 20px;
    display: block;
    margin: 10px auto 20px;
    cursor: pointer;
}

*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    font-family: 'Montserrat Alternates', sans-serif;
}


// Navigation

nav {
    position: fixed;
    height: 70px;
    width: 100%;
    background-color: #f1f1f1;
    z-index: 151;
}

.liste-nav {
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: center;
    list-style-type: none;
    position: fixed;
    z-index: 150;
}

.item-nav {
    display: flex;
    align-items: center;
    justify-content: center;

    &.brand {
        margin-right: auto;
    }

    a {
        font-size: 20px;
        text-decoration: none;
        margin: 0 20px;
        color: #39302F;
        font-weight: bold;

        &::after {
            content: '';
            display: block;
            width: 0px;
            margin: 5px auto 0 auto;
            height: 1px;
            border-radius: 2px;
            background: #39302F;
            transition: width 0.2s ease-out;
        }

        &:hover::after {
            width: 100%;
        }
    }
}

// menu hamburger

.box {
    top: 15px;
    right: 15px;
    height: 40px;
    width: 40px;
    position: fixed;
    z-index: 200;
    display: none;
}

.cont-lignes {
    width: 40px;
    height: 40px;
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.lignes {
    width: 100%;
    height: 4px;
    border-radius: 5px;
    background: #000;
    position: absolute;
    transition: all 0.5s ease-in-out;
}

.lignes:nth-child(1) {
    top: 0px;
}

.lignes:nth-child(2) {
    top: 15px;
}

.lignes:nth-child(3) {
    top: 30px;
}

.btn1.active .lignes:nth-child(1) {
    top: 15px;
    transform: rotate(135deg);
}

.btn1.active .lignes:nth-child(2) {
    opacity: 0;
    transform: translateX(-20px);
}

.btn1.active .lignes:nth-child(3) {
    top: 15px;
    transform: rotate(-135deg);
}

// media queries

@media screen and (max-width: 700px) {
    .box {
        display: block;
    }

    .liste-nav {
        display: none;
        flex-direction: column;
        height: auto;

        &.active {
            display: block;
            background: rgba(245, 245, 245, 0.95);
        }

        .brand {
            justify-content: flex-start;
        }

        .item-nav {
            height: 70px;
            border-bottom: 1px dotted #39302F;
        }
    }
}

// section accueil

main {
    position: relative;
    top: 70px;
}

.accueil {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    padding-top: 1px;
    background-image: url(ressources/hommeparapluie.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    opacity: 100%;
    margin: 0 auto;

    h1 {
        position: relative;
        text-align: center;
        margin: 20px auto;
        font-family: 'Chango', cursive;
        font-size: 50px;
        padding: 40px 0 20px;
        color: #F8FFF9;
        text-shadow: 0 0 10px #844D43;
    }
}

@media screen and (max-width: 1250px) {
    .accueil h1 {
        padding: 20px 0 20px;
    }
}

@media screen and (max-width: 700px) {
    .accueil h1 {
        font-size: 40px;
        padding: 0 0 20px;
    }
}

// Section asymétrique

.asymetrique {
    display: grid;
    grid-template: 200px repeat(9, 150px) / 1fr 600px 1fr 600px 1fr;
    background-color: #f1f1f1;

    h2 {
        @include h2-grid;
        grid-area: 1 / 1 / 2 / -1;
    }

    .bloc {
        grid-area: 3 / 2 / 8 / 3;
        background-color: #39302F;
        color: #f1f1f1;
        position: relative;
        left: 100px;
        border-radius: 2px;

        .bloc-txt {
            width: 50%;
            height: 100%;

            h3 {
                width: 150%!important;
                font-size: 35px;
                margin: 15px 0;
                padding: 15px;
            }

            p {
                line-height: 40px;
                padding: 15px;
            }

            .btn-savoir {
                @include btn-pilule;
                background-color: #C8007E;
                border: 1px solid #39302F;

                &:hover {
                    opacity: 0.8;
                }
            }
        }

        img {
            position: absolute;
            left: 300px;
            top: 100px;
            width: 100%;
        }
    }
}

// media queries
@media screen and (max-width: 1550px) {
    .asymetrique {
        grid-template: repeat(11, 100px) / 1fr 400px 1fr;

        .bloc {
            grid-area: 3 / 2 / 9 / 3;
            left: -150px;

            .bloc-txt {
                width: 70%;

                h3 {
                    font-size: 30px;
                }

                p {
                    line-height: 30px;
                    padding: 15px;
                }

                .btn-bloc {
                    padding: 15px 30px;
                    font-size: 18px;
                    margin: 10px;
                }
            }
        }
    }
}

@media screen and (max-width: 850px) {
    .asymetrique {
        grid-template: 200px repeat(13, 100px) / 1fr 400px 1fr;

        h2 {
            font-size: 45px;
            padding-top: 0px;
        }

        .bloc {
            grid-area: 2 / 2 / 8 / 3;
            left: 0px;
            border-bottom: 1px solid #f1f1f1;
            padding-top: 15px;

            img {
                top: 600px;
                left: 0px;
            }

            .bloc-txt {
                width: 100%;

                h3 {
                    width: 100%!important;
                    text-align: center;
                    margin: 5px 0;
                }

                p {
                    font-size: 18px;
                    line-height: 40px;
                }

                .btn-bloc {
                    margin: 10px auto;
                }
            }
        }
    }
}

@media screen and (max-width: 430px) {
    .asymetrique {
        grid-template: 200px repeat(11, 100px) / 1fr 320px 1fr;

        h2 {
            grid-area: 1 / 1 / 2 / -1;
            font-size: 30px;
            text-align: center;
        }

        .bloc {
            .bloc-txt {
                h3 {
                    font-size: 25px;
                }

                p {
                    font-size: 16px;
                }
            }
        }
    }
}

// section parallax
.parallax {
    width: 100%;
    height: 300px;
    background: url(ressources/paisley.png);
    background-position: center;
    background-attachment: fixed;
    // display: flex;
    // justify-content: center;
    // align-items: center;
    // flex-direction: column;
    position: relative;

    .background-layer {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgb(67, 42, 43, 0.7);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    h2 {
        color: #f1f1f1;
        font-size: 35px;
        font-weight: 700;
        text-align: center;
    }
}

@media screen and (max-width: 430px) {
    .parallax {
        h2 {
            font-size: 25px;
        }
    }
}

// section ateliers

.ateliers {
    display: grid;
    grid-template: 200px / auto;

    h2 {
        @include h2-grid;
    }

    .cartes {
        display: grid;
        grid-template-columns: repeat(4, 350px);
        grid-gap: 25px;
        margin: 100px auto 0;

        .carte {
            display: grid;
            box-shadow: 0 0 5px rgba(57, 48, 47, 0.5);
            grid-template-rows: max-content 400px 1fr;

            color: #382f2e;

            h4 {
                display: flex;
                align-items: center;
                height: 75px;
                font-size: 24px;
                padding: 15px;
                background-color: rgb(57, 48, 47);
                color: #f1f1f1;
            }

            p {
                padding: 20px 15px;
            }

            .btn-savoir {
                @include btn-pilule;
                background-color: #C5635D;
                &:hover {
                    opacity: 0.8;
                }
            }
        }

        .carte img {
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }
}

@media screen and (max-width: 850px) {
    .ateliers {
        h2 {
            padding-top: 0;
        }

        .cartes {
            grid-template-columns: repeat(2, 350px);
            margin: 0 auto;
        }
    }
}

@media screen and (max-width: 430px) {
    .ateliers {
        .cartes {
            grid-template-columns: 350px;
        }
    }
}

// section infolettre
.infolettre {
    height: 300px;
    width: 100%;
    text-align: center;

    h2 {
        @include h2-grid;
        height: 200px;
    }

    .container {
        padding: 20px;

        &.ombre {
            background-color: #f1f1f1;
            padding: 20px;
            margin: 20px;

            input {
                border-radius: 2px;
                padding: 12px;
                display: inline-block;
                margin: 8px 0;
                width: 100%;
            }
        }

        &.submit {
            [type=submit] {
                @include btn-pilule;
            }

            &:hover {
                opacity: 0.8;
            }
        }
    }
}
