@mixin position($x: 50%, $y: 50%) {
    position: absolute;
    left: $x;
    top: $y;
    transform: translate(-$x, -$y);
}

*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    font-family: 'Montserrat Alternates', sans-serif;
}

// Navigation

nav {
    position: fixed;
    height: 70px;
    width: 100%;
    background-color: #f1f1f1;
    z-index: 151;
}

.liste-nav {
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: center;
    list-style-type: none;
    position: fixed;
    z-index: 150;
}

.item-nav {
    display: flex;
    align-items: center;
    justify-content: center;

    &.brand {
        margin-right: auto;
    }

    a {
        font-size: 20px;
        text-decoration: none;
        margin: 0 20px;
        color: #33171D;
        font-weight: bold;

        &::after {
            content: '';
            display: block;
            width: 0px;
            margin: 5px auto 0 auto;
            height: 1px;
            border-radius: 2px;
            background: #33171D;
            transition: width 0.2s ease-out;
        }

        &:hover::after {
            width: 100%;
        }
    }
}

// menu hamburger

.box {
    top: 15px;
    right: 15px;
    height: 40px;
    width: 40px;
    position: fixed;
    z-index: 200;
    display: none;
}

.cont-lignes {
    width: 40px;
    height: 40px;
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.lignes {
    width: 100%;
    height: 4px;
    border-radius: 5px;
    background: #000;
    position: absolute;
    transition: all 0.5s ease-in-out;
}

.lignes:nth-child(1) {
    top: 0px;
}

.lignes:nth-child(2) {
    top: 15px;
}

.lignes:nth-child(3) {
    top: 30px;
}

.btn1.active .lignes:nth-child(1) {
    top: 15px;
    transform: rotate(135deg);
}

.btn1.active .lignes:nth-child(2) {
    opacity: 0;
    transform: translateX(-20px);
}

.btn1.active .lignes:nth-child(3) {
    top: 15px;
    transform: rotate(-135deg);
}

// media queries

@media screen and (max-width: 700px) {
    .box {
        display: block;
    }

    .liste-nav {
        display: none;
        flex-direction: column;
        height: auto;

        &.active {
            display: block;
        }

        .brand {
            justify-content: flex-start;
        }

        .item-nav {
            height: 70px;
        }
    }
}

// section accueil

main {
    position: relative;
    top: 70px;
}

.accueil {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    padding-top: 1px;
    background-image: url(ressources/hero-img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 100%;
    margin: 0 auto;

    h1 {
        text-align: center;
        margin: 20px auto;
        font-family: 'Chango', cursive;
        font-size: 60px;
        padding: 40px 0 20px;
        color: #F8FFF9;
        text-shadow: 0 0 10px #111;
    }

    h2 {
        text-align: center;
        font-size: 25px;
        padding: 20px 0;
        color: #F8FFF9;
    }
}

@media screen and (max-width: 1000px) {
    .accueil {
        background-position: center;
    }
}

// Popup infolettre

.form-popup {
    display: none;
    position: fixed;
    @include position(50%, 80%);
    border: 1px solid #f1f1f1;
    z-index: 9;

    .form-container {
        max-width: 300px;
        padding: 10px;
        background-color: rgba(216, 191, 255, 0.7);

        &:input[type=text] {
            width: 100%;
            padding: 15px;
            margin: 5px 0 22px 0;
            border: none;
            background-color: #f1f1f1;

            &:focus {
                background-color: #ddd;
                outline: none;
            }
        }

        .btn {
            background-color: #412A45;
            color: white;
            padding: 16px 20px;
            border: none;
            cursor: pointer;
            width: 100%;
            margin-bottom: 10px;
            opacity: 0.8;

            &:hover {
                opacity: 1;
            }
        }

        .cancel {
            background-color: red;
        }
    }
}

